
<div class ="row">

            <p><h1>
                Add Your Review
            </p></h1>
</div>
<div class ="row">
            
            <p><h2><%= @neighborhood[:name] %></h2></p>

</div>
<div class ="row">

            <p>
                Please rate your satisfaction with the following five attributes of living in the neighborhood.
            </p>
            <p>
                <b>Rate your experience of the neighborhood as a whole</b> based on being a resident.
            </p>

</div>



        <form action="/neighborhoods/<%= @neighborhood[:id] %>/reviews/create">


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Availability and affordability</label>
                    <select class="form-control" name="affordability_sat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Public transit access</label>
                    <select class="form-control" name="public_transit_sat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Bike and pedestrian friendliness</label>
                    <select class="form-control" name="bike_walk_sat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Safety from crime</label>
                    <select class="form-control" name="safety_sat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Quality of things to do</label>
                    <select class="form-control" name="thing_to_do_sat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label><b>Please provide your overall rating</b></label>
                    <select class="form-control" name="overall_sat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div> 
            <div class="col-md-6">
                        <h4>Rating Scale</h4>

                        <p>5 = Very satisfied</p>
                        <p>4 = Somewhat satisfied</p>
                        <p>3 = Neither satisfied nor dissatisfied</p>
                        <p>2 = Somewhat dissatisfied</p>
                        <p>1 = Very dissatisfied</p>
            
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Write your comment on the above rating</label>
                    <textarea class="form-control" rows="3" name="comment"></textarea>
                </div>
            </div>
        </div>

        

                How many bedrooms does your unit have?
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="unit_type" value="Studio" checked>
                    <label class="form-check-label">
                        Studio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="unit_type" value="1bed" checked>
                    <label class="form-check-label">
                        One Bedroom
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="unit_type" value="2bed" checked>
                    <label class="form-check-label">
                        Two Bedroom
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="unit_type" value="3bed" checked>
                    <label class="form-check-label">
                        <p>Three Bedroom</p>
                    </label>
                </div>

            
       
     <div class="row">
            <div class="col-6">       
                <div class="form-group">
                    <label>What is the total monthly rent of your unit?</label>
                    <input class="form-control" name="monthly_rent">
                </div>
            </div>
     </div>       

                <button type="submit" class="btn btn-primary">Submit</button>
        
            
        </form>

